*{
  margin:0;
  padding:0;
}

header {
	background: rgb(137, 20, 20);
}
.container_header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 36px 0;
}
.container{
	max-width:800px ;
	margin: 0 auto ;

}
.nav__list{
    display: flex;
    list-style: none ;


}
.nav__item{
	margin-right: 63px;
	color: rgb(228, 228, 228);
font-family: Nico Moji;
font-size: 18px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0%;
text-align: left;
}
.hero-block{
	background: rgb(0, 0, 0);
}
.container_hero-block{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 80px 0px 100px;
}
.hero-block__title{
	color: rgb(228, 228, 228);
font-family: Nico Moji;
font-size: 72px;
font-weight: 400;
line-height: 72px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 40px;
max-width: 482px;
}
.hero-block__link{
	border-radius: 6px;

background: rgb(164, 49, 49);
padding: 15px 7px;
}
.hero-block__img{
	width: 500px;

}
.about{
	background: rgb(105, 3, 3);
}
.about__content{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.about__title{
	color: rgb(228, 228, 228);
font-family: Nico Moji;
font-size: 48px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
}
.about__text{
	color: rgb(228, 228, 228);
font-family: Roboto;
font-size: 28px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0%;
text-align: left;
}
.gallery{
	background: rgb(80, 0, 0);
	padding: 30px 0px;
}
.gallery__title{
	color: rgb(228, 228, 228);
font-family: Nico Moji;
font-size: 48px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
}
.gallery__item{
	width: 600px ;
	margin-right: 30px;

}
.gallery__img{
	width: 100%;
}
.gallery__list{
	display: flex;
	flex-wrap:wrap ;
	list-style:none ;
}
.footer{
	background: rgb(44, 44, 44);
}
.container_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}
.footer__list{
	display: flex;
	list-style: none;

}
.footer__item{
	margin-right:40px ;

}
.footer__title{
	color: rgb(228, 228, 228);
font-family: Inter;
font-size: 30px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0px;
text-align: left;
margin-bottom: 15px;
}
.footer__text{
	color: rgb(228, 228, 228);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0px;
text-align: left;
}